<?xml version="1.0"?>
<config>
	<modules>
		<SotaStudio_ProductAjaxScrolling>
			<version>1.0.0</version>
		</SotaStudio_ProductAjaxScrolling>
	</modules>
	<frontend>
		<layout>
			<updates>
				<sota_pas>
					<file>sota/productajaxscrolling.xml</file>
				</sota_pas>
			</updates>
		</layout>
		<translate>
			<modules>
				<SotaStudio_ProductAjaxScrolling>
					<files>
						<default>SotaStudio_ProductAjaxScrolling.csv</default>
					</files>
				</SotaStudio_ProductAjaxScrolling>
			</modules>
		</translate>
	</frontend>
</config>
